:root {
    --dark-col: #8B0000;
    --light-col: #FCF9DB;
    --active-col: #407C51;
    --hoover-col: #BA3030;
    --dark-text: #000000;
    --light-text: #FCF9DB;
}

body {
background-image: url("../img/bg-img.jpg");
background-color:rgba(252, 249, 219, 1);
padding-top: 80px;
}

h1 {
    font-weight: 600;
    letter-spacing: 4px;
}

.product-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-menu.text-body {
    line-height: 1rem;
}

.img-fluid {
    max-width: 25%;
}

.nav-link {
    background-color: var(--dark-col);
    color: var(--light-text);
}

.nav-pills .nav-link {
    border-radius: initial;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--active-col);
}

a:hover {
    background-color: var(--hoover-col);
    color: var(--light-text);
}

.rounded-left {
    border-top-left-radius: 1.5rem!important;
    border-bottom-left-radius: 1.5rem!important;
}

.rounded-right {
    border-top-right-radius: 1.5rem!important;
    border-bottom-right-radius: 1.5rem!important;
}

.carousel-caption {
    position: initial;
    background-color: white;
    color: #8B0000;
}

#akcia {
      z-index: 1000;
      margin-top: 80px;
      background-color: #8B0000;
      color: #FCF9DB;
      border-color: #8B0000;
      border-radius: 0 0 30px 30px;
      box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.6);
  }

button.btn.btn-primary {
    border-radius: 0 0 10px 10px;
}

  .alert-dismissible .close {
    color: white;
  }

.navbar {
    background-color: rgba(139, 0, 0, 1);
    border-top: 0px solid rgba(0, 0, 0, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
}

.h6 {
line-height: 1.8;
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
    }
a.h2.nav-link.active{
        background-color: var(--active-col);
    }
/*.text-poradie {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.product-menu-price {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.4rem;
}*/