/* Variables */
:root {
    --dark-col: #8B0000;
    --light-col: #FCF9DB;
    --active-col: #407C51;
    --hoover-col: #BA3030;
    --dark-text: #000000;
    --light-text: #FCF9DB;
}

/* Main */
body {
background-image: url("../img/bg-img.jpg");
background-color:rgba(252, 249, 219, 1);
padding-top: 80px;
}

h1 {
    font-weight: 600;
    letter-spacing: 4px;
}

.h6 {
    line-height: 1.8;
    }


/* Nav */
.nav-link {
    background-color: var(--dark-col);
    color: var(--light-text);
}

.nav-pills .nav-link {
    border-radius: initial;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--active-col);
}

a:hover {
    background-color: var(--hoover-col);
    color: var(--light-text);
}

.rounded-left {
    border-top-left-radius: 1.5rem!important;
    border-bottom-left-radius: 1.5rem!important;
}

.rounded-right {
    border-top-right-radius: 1.5rem!important;
    border-bottom-right-radius: 1.5rem!important;
}

.navbar {
    background-color: rgba(139, 0, 0, 1);
    border-top: 0px solid rgba(0, 0, 0, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
}

a.h2.nav-link.active{
    background-color: var(--active-col);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* Menu item */

.product-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-menu.text-body {
    line-height: 1rem;
}

/*.product-menu-price {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.4rem;
}*/

.product-menu-ingredience {
    font-size: 1rem;
}

.hr {
    height: 8px;
}

.hr-custom {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(45deg, transparent 8px, rgba(139, 0, 0, 0.49) 8px), linear-gradient(-45deg, transparent 8px, rgba(139, 0, 0, 0.49) 8px);
    background-size: 8px 8px;
    background-repeat: repeat-x;
    background-position: 50% 50%;
}

.hr-top {
    width: 100%;
    height: 50%;
    background-color: rgba(139, 0, 0, 0.49);
}


.hr-custom-2 {
box-sizing: border-box;
border-top: 4px dotted rgba(186, 48, 48, 0.46);
}


/* Others*/

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
    }

.socialicon {
    margin-right: 15px;
}

/* Gallery*/
#ft-gallery {
    max-width: 340px;
}

img.ft-gallery {
    width: 150px;
}

.alert-dismissible .close {
    color: white;
}

/*.text-poradie {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.img-fluid {
    max-width: 25%;
}
*/