/* ---- max vyska bloku s polozkami menu ---- */

#grid1 {
    height: 100%;
  }

#grid2 {
    height: 1240px;
}

#gridStangle {
  height: 440px;
}

#gridPolievka {
  height: 210px;
}

#gridSalaty {
  height: 440px;
}

/* ---- element-item ---- */

  .grid-item {
    position: relative;
    float: left;
    width: 100%;
    height: 110px;
    margin: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
  }

  .second-grid-item {
    width: 45%;
    height: 75px;
  }

  .grid-item-napoj {
    height: 90px;
    padding: 10px 10px;
}


/* Media queries*/

@media screen and (max-width: 1115px) {
  .navbar-txt {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  #grid1 {
    height: 1480px;
  }
  .grid-item {
    width: 50%;
  }
}

@media screen and (min-width: 540px) {
.second-grid-item {
  width: 30%;
  }
  #grid2 {
    height: 835px;
  }
}

@media screen and (max-width: 540px) {
  #gridStangle {
    height: 680px;
  }
  #gridSalaty {
    height: 570px;
  }
  #adresa #ft-gallery {
    margin-top: 1.5rem !important;
  }
  #ft-gallery {
    margin-top: 1.5rem !important;
  }
}

@media screen and (max-width: 1000px) {
  img.ft-gallery {
    width: 120px;
  }
}

/*.second-grid {
    border: 1px solid red;
    width: 960px;
    height: 1000px;
}

  /* clear fix
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }